.game-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.game-modal-content {
  background: white;
  border-radius: 12px; /* 모서리를 둥글게 처리 */
  width: 80%; /* 너비를 조정하여 전체 화면에 맞춤 */
  max-width: 400px; /* 최대 너비를 제한 */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* 그림자 강도 조정 */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px; /* 전체적으로 패딩을 줄여서 깔끔하게 */
}

.game-modal-title {
  margin-top: 4px;
  font-size: 16px; /* 폰트 크기 조정 */
  margin-bottom: 15px; /* 마진을 줄여서 컴팩트하게 */
  text-align: center;
  width: 100%;
  color: #333; /* 텍스트 색상을 약간 어둡게 */
}

.game-modal-close {
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
}

.game-modal-close img {
  width: 18px; /* 아이콘 크기 조정 */
  height: 18px;
}

.team-list {
  width: 100%;
}

.team-item {
  cursor: pointer;
  border-bottom: 1px solid #eee; /* 경계선을 약간 더 밝게 */
  padding: 10px 0;
}

.team-title {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 14px;
  color: #373535;
  padding: 5px 10px;
  border-left: 4px solid #c5c5c5;
}

.team-item div {
  display: flex;
  justify-content: space-between;
}

.game-participant-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-height: 150px; /* 최대 높이를 줄여서 전체 레이아웃 조정 */
  overflow-y: auto;
  padding: 10px 10px 0 10px;
  margin-top: 10px; /* 상단에 약간의 마진 추가 */
  border-radius: 10px; /* 모서리를 둥글게 */
}

.game-participant-item {
  cursor: pointer;
}

.game-participant-item label {
  margin-bottom: 20px; /* 마진을 줄여서 컴팩트하게 */
  display: flex;
  align-items: center;
}

.game-participant-info-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 15px;
}

.game-participant-info {
  display: flex;
  align-items: center;
}

.game-participant-item input {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.game-participant-item input:checked {
  accent-color: #712FFF;
}

.game-modal-confirm-button {
  width: 80%;
  font-weight: bold;
  padding: 12px 0; /* 패딩을 위아래로만 적용 */
  border: none;
  border-radius: 12px; /* 둥근 버튼 모양 */
  cursor: pointer;
  margin-top: 20px;
  background: linear-gradient(45deg, #712FFF, #A074FF);
  box-shadow: 0px 4px 10px rgba(113, 47, 255, 0.4); /* 그림자 조정 */
  color: white;
  transition: background 0.3s ease; /* 호버 시 배경 전환 효과 */
}

.game-modal-confirm-button:hover {
  background: linear-gradient(45deg, #5e21d4, #8f4dfc); /* 호버 시 배경 색상 변화 */
}
