/* game container */
.game-container {
  padding: 16px;
}

.game-container h1 {
  margin: 20px 0;
  font-size: 18px;
  text-align: center;
}

.game-add-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.game-participant {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 5px;
}

.game-participant-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 5px;
}

.game-container .game-participants {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 10px;
}

.game-participants-list {
  padding: 10px;
  background-color: #F9F9F9;
}

.game-machine-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.game-machine {
  margin-top: 30px;
  width: 100%;
}

.game-machine-tongs-head {
  position: absolute;
  width: 15px;
  top: 50px;
  right: 80px;
  z-index: -1;
}

.game-machine-tongs {
  position: absolute;
  width: 63px;
  top: 40px;
  right: 55px;
  z-index: -1; 
  transform: translateY(0%);
  transition: transform 1s ease, clip-path 1s ease;
}

/* 애니메이션 클래스 */
.tongs-down {
  transform: translateY(40%);
}

.tongs-up {
  transform: translateY(0%);
}

.game-start-button {
  position: absolute;
  bottom: 60px; /* 이미지의 하단에서 버튼이 떨어지는 거리 */
  left: 50%;
  width: 250px;
  transform: translateX(-50%);
  padding: 15px 20px; /* 버튼의 크기 조정 */
  background-color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 5px 10px 20px #f0f0f034;
}
