.homemain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homemain-container {
  width: 320px;

  margin-bottom: 100px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.main-header-button {
  border: none;
  background-color: white;
}

.logo {
  width: 96px;
  height: 25px;
  margin: 16px 0 0 16px;
}

.meeting-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 14px;
}

.seeall {
  text-decoration: none;
  font-size: 12px;
  color: #131212;
  opacity: 70%;
}

.meeting-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-bottom: 20px;
}

.new-meeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-top: 20px;
}

.new-meeting-header {
  margin-bottom: 14px;
}

.create-button {
  background: linear-gradient(45deg, #ac30d8, #cc54f6);
  cursor: pointer;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 18px;
  white-space: nowrap;
  width: 319px;
  height: 100px;
  box-shadow: 5px 10px 20px #ae32d9;
  color: white;
  margin-bottom: 20px;
}

.join-button {
  background: linear-gradient(45deg, #712fff, #a074ff);
  cursor: pointer;
  border: none;
  border-radius: 25px;
  padding: 10px 20px 10px 13px;
  font-size: 18px;
  white-space: nowrap;
  width: 319px;
  height: 100px;
  box-shadow: 5px 10px 20px #a074ff;
  color: white;
}

.button-content {
  display: flex;
}

.button-desc {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.button-desc2 {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.button-text {
  font-size: 14px;
  margin-top: 5px;
}

.my-meeting-title {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: bold;
}

.my-meeting-content {
  font-size: 12px;
  color: #868687;
  opacity: 70%;
}

.line {
  border: 0.5px solid #d7dedd;
  opacity: 50%;
}

.folder-icon {
  width: 60px;
  height: 60px;
  margin-left: 30px;
}

.mouse-icon {
  width: 60px;
  height: 60px;
}

.home-alarm-button {
  width: 28px;
  height: 28px;
  margin: 16px 16px 0 0;
}
