.home-container {
  padding: 16px;
}

.homemain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homemain-container {
  width: 95%;
  margin-bottom: 80px;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.main-header-button {
  border: none;
  background-color: white;
}

.logo {
  width: 35%;
  height: 10%;
  margin: 16px 0 0 16px;
}

.meeting-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 14px;
  margin-left: 10px;
}

.seeall {
  text-decoration: none;
  background: none;
  border: none;
  font-size: 12px;
  color: #131212;
  opacity: 70%;
}

.no-meeting-at-home {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='13' ry='13' stroke='%23D7D7D7FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 13px;
  margin-bottom: 20px;
}

.no-meeting-text {
  color: #010101;
  font-weight: bold;
  opacity: 70%;
  font-size: 18px;
}

.no-meeting-sub-text {
  color: #868687;
  margin-top: 5px;
}

.meeting-cards {
  padding: 5px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(
    auto-fill,
    minmax(90px, 1fr)
  );
  gap: 12px 8px;
  justify-content: start;
  align-items: start;
  margin-bottom: 20px;
}

.new-meeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-top: 20px;
}

.new-meeting-header {
  margin-bottom: 14px;
  margin-left: 10px;
}

.create-button {
  background: linear-gradient(45deg, #ac30d8, #cc54f6);
  cursor: pointer;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 18px;
  white-space: nowrap;
  width: 98%;
  margin: 0 auto;
  height: 100px;
  box-shadow: 5px 10px 20px #af32d99e;
  color: white;
  margin-bottom: 20px;
}

.join-button {
  background: linear-gradient(45deg, #712fff, #a074ff);
  cursor: pointer;
  border: none;
  border-radius: 25px;
  padding: 10px 20px 10px 13px;
  font-size: 18px;
  white-space: nowrap;
  width: 98%;
  height: 100px;
  margin: 0 auto;
  box-shadow: 5px 10px 20px #a074ffad;
  color: white;
}

.button-content {
  display: flex;
  justify-content: space-between;
}

.button-desc {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.button-desc2 {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.button-text {
  font-size: 14px;
  margin-top: 5px;
}

.my-meeting-title {
  font-size: 18px;
  margin-bottom: 6px;
  font-weight: bold;
}

.my-meeting-content {
  font-size: 14px;
  color: #868687;
  opacity: 70%;
}

.line {
  border: 0.5px solid #d7dedd;
  opacity: 50%;
}

.folder-icon {
  width: 60px;
  height: 60px;
  margin-left: 30px;
}

.mouse-icon {
  width: 60px;
  height: 60px;
}

.home-alarm-button {
  width: 32px;
  height: 32px;
  margin: 16px 16px 0 0;
}
