.join-form-container {
  padding: 16px;
}

.joinform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.joinform-header {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-bottom: 415px;
}

.joinform-desc {
  margin-left: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.join-code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px auto;
  border: none;
  width: 300px;
  height: 53px;
  border-radius: 15px;
  background-color: #f9f9f9;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.join-input {
  width: 90%;
  height: 50%;
  border: none;
  background-color: #f9f9f9;
}
