.regist-form {
    margin: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    padding: 16px;
}

.regist-form-container {
    width: 300px;
}

.regist-header {
    margin-bottom: 19px;
}

.create-ques {
    font-size: 16px;
    margin-bottom: 8px;
}

.ques-desc {
    font-size: 14px;
    color: #131212;
    opacity: 70%;
    margin-bottom: 19px;
}

.regist-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.content-container {
    width: 300px;
    height: 247px;
    background-color: #F9F9F9;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.img-input-desc {
    margin-top: 15px;
    text-align: start;
    padding-left: 20px;
    margin-bottom: 15px;
}

.meeting-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border: none;
    width: 300px;
    height: 53px;
    border-radius: 15px;
    background-color: #F9F9F9;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.meeting-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 67px;
    border: none;
    width: 300px;
    height: 53px;
    border-radius: 15px;
    background-color: #F9F9F9;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.name-input {
    width: 90%;
    height: 50%;
    border: none;
    background-color: #F9F9F9;
}

.desc-input {
    width: 90%;
    height: 50%;
    border: none;
    background-color: #F9F9F9;
}