.mypage-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f5f5;
}

.mypage-profile {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 10px 0;
  width: 80%;
}

.profile-edit-button {
  position: absolute;
  width: 40px;
  transform: translate(170%, 200%);
}

.mypage-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.mypage-profile-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #eeeeee;
  margin-top: 15px;
  margin-bottom: 20px;
}

.mypage-profile-name {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 5px;
  padding: 0 5px 2px 5px;
}

.mypage-profile-email {
  font-size: 14px;
  background-color: #8d8d8d20;
  padding: 7px 14px;
  border-radius: 20px;
  margin: 2px 0;
}

.mypage-my-wallet{
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 85%;
  height: 100px;
  padding: 20px 15px;
  border-radius: 18px;
  border: none;
  background-color: #712fff;
  color: white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  text-align: start;
  box-shadow: 0 10px 20px #b5b5b542;
  z-index: 3px;
}

.mypage-my-wallet .coin {
  width: 60px;
  margin-left: auto;
  margin-right: 10px;
}

.mypage-my-wallet-summary {
  margin-left: 10px;
  font-size: 14px;
  margin-bottom: 3px;
}

.mypage-my-wallet-balance {
  margin-left: 10px;
  font-size: 22px;
  font-weight: 600;
}


.mypage-my-wallet-image {
  width: 30px;
  height: 30px;
}

.mypage-secession-container {
  width: 85%;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.mypage-secession {
  color: #575757;
  border: none;
  background: none;
}

.mypage-secession-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center; /* Center align items */
  z-index: 1000;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.5);
  }
}

.mypage-secession-modal-content {
  background: white;
  border-radius: 10px;
  width: 70%;
  max-width: 400px;
  max-height: 90%;
  position: relative;
  animation: slideUp 0.3s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 0;
  overflow-y: auto;
  padding: 16px;
}

.mypage-secession-modal-isSecession {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.mypage-secession-modal-isSecession-title {
  color: #712fff;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  padding: 10px;
}

.mypage-secession-modal-isSecession-content {
  padding: 5px;
  font-size: 12px;
  text-align: center;
}

.mypage-secession-modal-isSecession-button {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.mypage-secession-modal-isSecession-button-cancel {
  padding: 10px 30px;
  border-radius: 12px;
  border: 1px solid#712fff;
  background-color: white;
  color: #712fff;
  font-weight: 600;
  font-size: 12px;
}

.mypage-secession-modal-isSecession-button-ok {
  padding: 10px 30px;
  border-radius: 12px;
  border: none;
  color: white;
  background: linear-gradient(to right, #712fff, #925eff);
  font-weight: 600;
  font-size: 12px;
}

.mypage-logout-button {
  margin: 15px auto 0 auto;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  padding: 5px 10px;
  background: none;
}
