.submit-button {
  width: 100%;
  height: 42px;
  border-radius: 20px;
  background: linear-gradient(to right, #712fff, #925eff);
  border: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-bottom: 20px;
  margin-top: 20px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 12px;
  margin-bottom: 50px;
}

.submit-button:hover {
  background: linear-gradient(to right, #712fff, #712fff);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.signup-box {
  padding: 16px;
}

.login-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 100px auto;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 50px auto;
  box-sizing: border-box;
}

.signup-back-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative;
}

.signup-logo, .login-logo{
  margin-bottom: 20px;
  width: 180px;
}

.remember-email {
  margin-right: auto;
  margin-left: 10px;
  margin-bottom: 30px;
}

.remember-email input {
  margin-right: 5px;
}

.signup-search-password {
  display: flex;
  font-size: 12px;
}

.textBoundary {
  margin-left: 15px;
  margin-right: 15px;
}

.easy-login {
  margin-top: 60px;
  font-size: 12px;
  margin-bottom: 12px;
}

.login-with-kakao {
  width: 216.5px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  background-color: #fee500;
  padding: 12px;
}

.emailForm {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 10px 0;
}

.email-input {
  width: 100%; /* input 필드의 전체 너비를 부모에 맞춤 */
  padding: 10px;
  padding-right: 60px; /* 버튼 영역만큼 오른쪽 패딩을 추가 */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
}

.email-input:focus {
  outline: none;
}

.email-input::placeholder {
  color: #ccc;
  font-size: 16px;
  pointer-events: none;
}

.email-certification {
  position: absolute;
  right: 10px; /* 버튼을 input 필드의 오른쪽 끝에 배치 */
  background-color: #fff;
  font-size: 12px;
  border-radius: 12px;
  border: none;
  color: #ccc;
  font-weight: 600;
  padding: 10px 5px;
  cursor: pointer;
}


.email-certification:hover {
  color: #712fff;
}

.valid-password, .valid-nickname {
  font-size: 12px;
  color: blue;
}

.invalid-password, .invalid-email, .invalid-nickname, .duplicated-email, .duplicated-nickname {
  color: red;
  font-size: 12px;
}

.profile-image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.image-upload-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23D9D9D9FF' stroke-width='5' stroke-dasharray='5%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
border-radius: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.image-close-button {
  position: absolute;
  width: 36px;
  transform: translate(35px, -35px);
}

.profile-image-delete-button {
  margin-top: 5px;
  border: none;
  background: linear-gradient(to right, #712fff, #925eff);
  padding: 6px 10px;
  color: white;
  font-weight: 600;
  border-radius: 6px;
}

.profile-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 50%;
  border: 3px solid #712fff;
}

.placeholder-image {
  font-size: 24px;
  color: #d9d9d9;
}

.certification {
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-top: 15px;
}

.certification-input {
  outline: none;
  width: 70%;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  border: none;
}

.certification-input::placeholder {
  color:#ccc;
}

.certification-button {
  width: 60px;
  border-radius: 12px;
  border: 1px solid #ccc;
  color: #575656;
  background-color: #fff;
  font-weight: 600;
  font-size: 12px;
  padding: 8px 10px;
  margin-left: 10px;
  margin-bottom: 8px;
}

.certification-button:hover {
  color: white;
  background-color: #712fff;
}

.certification-timer {
  font-size: 12px;
  margin: 5px 10px;
}

.timer-warning {
  color: red;
}


.nickname-form {
  display: flex;
  align-items: center;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-toggle {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #712fff;
}

.password-input {
  width: 100%;
  padding-right: 40px; /* 아이콘 공간 확보 */
  box-sizing: border-box;
}
