.submit-button {
  width: 100%;
  height: 42px;
  border-radius: 20px;
  background: linear-gradient(to right, #712fff, #925eff);
  border: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-bottom: 20px;
  margin-top: 20px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 12px;
  margin-bottom: 50px;
}

.submit-button:hover {
  background: linear-gradient(to right, #712fff, #712fff);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.login-container,
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  width: 60%;
  height: 100vh;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.signup-logo, .login-logo{
  margin-bottom: 20px;
  width: 180px;
}

.remember-email {
  margin-right: auto;
  margin-left: 10px;
  margin-bottom: 30px;
}
.remember-email input {
  margin-right: 5px;
}

.signupAndSearchpassword {
  display: flex;
  font-size: 12px;
}

.textBoundary {
  margin-left: 15px;
  margin-right: 15px;
}

.easy-login {
  margin-top: 60px;
  font-size: 12px;
  margin-bottom: 12px;
}

.loginWithKakao {
  width: 100%;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  background-color: #fee500;
  padding: 12px;
}

.emailForm {
  display: flex;
  align-items: center;
}

.email-certification, .nickname-certification-button {
  width: 25%;
  font-size: 12px;
  border-radius: 12px;
  border: 1px solid #712fff;
  background-color: #fff;
  color: #712fff;
  font-weight: 600;
  padding: 10px 5px;
  margin-left: 10px;
}

.email-certification:hover {
  background-color: #712fff;
  color: white;
}

.valid-password {
  font-size: 12px;
  color: blue;
}

.invalid-password, .invalid-email {
  color: red;
  font-size: 12px;
}

.profile-image-upload {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.image-upload-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 2px dashed #d9d9d9;
  border-radius: 50%;
  cursor: pointer;
}

.profile-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.placeholder-image {
  font-size: 24px;
  color: #d9d9d9;
}

.certification {
  display: flex;
  align-items: center;
}

.certification-input {
  outline: none;
  width: 70%;
  margin-left: 15px;
  margin-right: 5px;
  padding: 5px;
  border-top: black;
  border-left: black;
  border-right: black;
}

.certification-button {
  width: 20%;
  border-radius: 12px;
  border: 1px solid #712fff;
  color: #712fff;
  background-color: #fff;
  font-weight: 600;
  font-size: 12px;
  padding: 10px 5px;
  margin-left: 10px;
}

.certification-button:hover {
  color: white;
  background-color: #712fff;
}

.nickname-form {
  display: flex;
  align-items: center;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-toggle {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #712fff;
}

.password-input {
  width: 100%;
  padding-right: 40px; /* 아이콘 공간 확보 */
  box-sizing: border-box;
}
