/* 정산 방법 선택 버튼 */
.calculate-type-button {
  padding: 10px 5px;
  width: 90px;
  font-size: 16px;
  border: 0;
  background-color: white;
  cursor: pointer;
  z-index: 2;
  border-bottom: 1px #d7d7d7 solid;
}

.calculate-type-button.active {
  color: #712fff;
  font-weight: bold;
  border-bottom: 2px #712fff solid;
}

.select-participant-detail {
  width: 100%;
}

.select-participant-title,
.calculated-result-title {
  display: flex;
  font-size: 14px;
  text-align: left;
  justify-items: start;
  margin: 20px;
}

.select-participant-table {
  width: 95%;
  box-sizing: border-box;
  margin: 0 auto 0 auto;
  /* margin: 10px 0 5px 0; */
  background-color: #f9f9f9;
  padding: 10px 15px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='13' ry='13' stroke='%23D7D7D7FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 13px;
  border-radius: 12px;
  box-shadow: 5px 10px 20px #f4f4f4;
}

.select-participant-table th,
.select-participant-table td {
  text-align: left;
  padding: 5px;
  font-size: 14px;
  vertical-align: top; /* Vertical align to top */
}

.select-participant-table th {
  color: #131212;
  font-size: 14px;
  font-weight: 500;
  font-weight: bold;
}

.calculate-tagged-people {
  display: flex;
  align-items: start;
  padding-left: 30px;
}

div.calculate-tagged-people {
  margin-bottom: 15px;
}

.add-participant-button {
  width: 36px;
  margin-right: 10px;
}

.participant-badge {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
}

/* color별 처리 */
.pink .calculated-result-content {
  width: 95%;
  box-sizing: border-box;
  margin: 0 auto 0 auto;
  background-color: #fdeae8;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23FBCED8FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 12px;
  padding: 20px;
}

.yellow .calculated-result-content {
  width: 95%;
  box-sizing: border-box;
  margin: 0 auto 0 auto;
  background-color: #fff3dc;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23EFCEA7' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 12px;
  padding: 20px;
}

.sky .calculated-result-content {
  width: 95%;
  box-sizing: border-box;
  margin: 0 auto 0 auto;
  background-color: #e6f2fa;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%2398BFD7' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 12px;
  padding: 20px;
}

.calculated-result-table {
  width: 100%;
}

.calculated-result-table th,
.calculated-result-table td {
  text-align: left;
  padding: 5px;
}
