.form-container {
  padding: 16px;
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}

.form-title {
  font-size: 16px;
  flex-grow: 1;
  text-align: center;
  margin : 10px 24px 0 0;
}

/* Tabs */
.tabs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.tabs {
  display: flex;
  height: 40px;
  background-color: #f0f0f0;
  border-radius: 14px;
  overflow: hidden;
}

.tab-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  font-size: 12px;
  color: #888;
}

.tab-button.active {
  background-color: #712FFF;
  color: white;
  border-radius: 12px;
  margin: 5px;
  font-weight: bold;
}

.tab-content {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

/* Design Tab */
.color-receipt {
  width: 80%;
}

.selectedReceipt {
  padding: 30px 0 30px 0;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin-bottom: 140px;
}

.component-button{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10; 
}

.button-purple {
  margin: 15px 0 83px 0;
}

/* Recognize Tab */
.receipt-type {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.type-button {
  padding: 10px 15px;
  font-size: 16px;
  border: 0;
  background-color: white;
  cursor: pointer;
  z-index: 2;
  border-bottom: 1px #D7D7D7 solid;
}

.type-button.active {
  color: #712FFF;
  font-weight: bold;
  border-bottom: 2px #712FFF solid;
}

.receipt-type-img-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100px;
  transition: height 0.5s ease;
}

.receipt-type-img{
  display: inline-block;
  transform: translateY(-70%);
  transition: transform 0.8s ease, clip-path 0.8s ease;
  margin-right: 10px;
}

.receipt-type-img.inactive {
  clip-path: inset(30% 0 0 0);
}


.receipt-type-img.active {
  transform: translateY(0);
  clip-path: inset(0 0 0 0);
}

.receipt-type-img:nth-child(1) img {
  width: 90px;
  margin-right: 30px;
}

.receipt-type-img:nth-child(2) img {
  width: 100px;
  margin-right: 10px;
}

.recognition-section {
  text-align: center;
  margin-top: 10px;
}

.receipt-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.recognize-badge {
  position: absolute;
  left: 20px;
  display: inline-block;
  padding: 14px 25px;
  background-color: #712FFF;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
}

.recognize-result-title {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 16px;
  font-weight: bold;
}

.edit-result, .save-result {
  position: absolute;
  top: 15px;
  border: 1px solid #D7D7D7;
  padding: 5px 20px;
  border-radius: 8px;
  background-color: white;
}

.recognize-options {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.recognize-options .recognize-image-buttons {
  position: absolute;
  right: 20px;
}

.recognize-options img {
  width: 40px;
  height: 40px;
  margin: 3px 5px;
}

.recognize-image-buttons .active {
  border-radius: 50px;
  background-color: #712FFF;
}

.recognized-store-name {
  margin: 70px 10px 20px 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #F9F9F9;
  padding: 20px 30px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='13' ry='13' stroke='%23D7D7D7FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 12px;
  display: flex;
  box-shadow: 5px 10px 20px #f4f4f4;
}

.recognized-payment-date {
  margin: 20px 10px 20px 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #F9F9F9;
  padding: 20px 30px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='13' ry='13' stroke='%23D7D7D7FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 12px;
  display: flex;
  box-shadow: 5px 10px 20px #f4f4f4;
}

.recognized-content {
  margin: 10px 10px 5px 10px;
  background-color: #F9F9F9;
  padding: 10px 15px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='13' ry='13' stroke='%23D7D7D7FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
border-radius: 13px;
  border-radius: 12px;
  box-shadow: 5px 10px 20px #f4f4f4;
}

.recognized-content.no-content {
  margin-top: 70px;
  padding: 30px 30px;
}

.recognized-content p:nth-child(1) {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.recognized-content p:nth-child(2) {
  font-size: 12px;
  margin-bottom: 5px;
}

.recognized-content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.recognized-content th, .recognized-content td {
  padding: 8px;
  font-size: 14px;
  text-align: center;
}

.recognized-content th {
  font-weight: bold;
}

.recognized-content-line {
  margin: 20px 0;
}

/* edit result */
.recognized-content td:nth-child(1) input {
  width: 120px;
  padding: 8px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.recognized-content td:nth-child(2) input {
  width: 40px;
  padding: 8px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.recognized-content td:nth-child(3) input {
  width: 60px;
  padding: 8px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin: 10px 30px 0 30px;
}

.connect-schedule {
  display: flex;
  font-size: 14px;
  margin: 30px 15px 10px 15px;
  border: 1px solid #D7D7D7;
  padding: 10px 40px;
  border-radius: 8px;
  background-color: white;
}

.button-gray {
  margin: 20px 0 80px 0;
}

.button-purple {
  margin-bottom: 80px;
  font-weight: bold;
}