.camera-capture-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.camera {
  position: relative;
  width: 80%; /* 비디오와 캔버스의 너비를 조정 */
  max-width: 640px;
  padding-top: 20px; /* 상단 패딩 추가 */
  padding-bottom: 20px; /* 하단 패딩 추가 */
}

.camera-video, .camera-canvas {
  width: 100%;
  height: auto;
}

.capture-button, .close-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ff4081;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  font-size: 24px;
}
