.item {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 100%px;
  height: 56px;
  border-bottom: 1px solid #d7dedd;
}

.info {
  display: flex;
}

.search-result-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 15px;
}

.place-list-name {
  width: 170px;
}

.search-result-image {
  width: 54px;
  height: 54px;
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 8px;
}

.place-jjim-hagi {
  width: 56px;
  height: 24px;
  border-radius: 4px;
  border: none;
  color: white;
  background: linear-gradient(45deg, #712fff, #a074ff);
  box-shadow: 5px 10px 20px #b08cff;
}

.place-image {
  width: 52px;
  height: 52px;
  border-radius: 10px;
}
