.schedule-detail-header-search-container {
    width: 65%;
}

.schedule-detail-header-search {
    margin-top: 14px;
    width: 100%;
    height: 36px;
    border-radius: 20px;
    border: 1px solid #d7dedd;
  }