.schedule-detail-header-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
}

.search-button {
  margin-right: 16px;
  margin-top: 14px;
  width: 28px;
  height: 28px;
  background: none;
  border: none;
  padding-left: 1px;
}

.schedule-detail-header-search:focus {
  outline: none;
}

.schedule-detail-header-search {
  box-sizing: border-box;
  margin-top: 14px;
  width: 200px;
  height: 36px;
  border-radius: 20px;
  border: 1px solid #d7dedd;
  user-select: none;
  /* margin-right: 40px; */
  padding: 0px 15px;
}

.search-button-img {
  width: 28px;
  height: 28px;
  margin-left: 35px;
}
