.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  background: white;
  padding: 40px 30px;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

.modal-content div div {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;;
}

.modal-content div p {
  font-size: 12px;
  color: #131212;
  margin-bottom: 30px;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal-confirm {
  width: 100%;
  background: linear-gradient(45deg, #712FFF, #A074FF);
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 5px 10px 20px #b08cff;
}
