/* .schedule-detail {
  padding: 16px;
} */

.schedule-detail {
  position: relative;
}

.schedule-detail-alarm-icon {
    width: 28px;
    height: 28px;
    margin-top: 18px;
    margin-right: 16px;
  }
  
  .schedule-detail-small-img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }
  
  .schedule-detail-meeting-name {
    font-size: 16px;
    font-weight: bold;
  }
  
  .schedule-detail-schedule-name {
    font-size: 12px;
    color: #131212;
    opacity: 70%;
  }
  
  .schedule-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 0 16px;
  }
  
  .schedule-detail-middle-box {
    padding: 16px 16px 0 16px;
    display: flex;
    flex-direction: column;
  }
  
  .schedule-detail-middle-info {
    display: flex;
    flex: row;
    margin-bottom: 10px;
  }
  
  .schedule-detail-first-section {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
  }
  
  .schedule-detail-second-section {
    width: 330px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .schedule-detail-header-search {
    margin-top: 14px;
    width: 230px;
    height: 36px;
    border-radius: 20px;
    border: 1px solid #D7DEDD;
  }
  
  .schedule-exit-img {
    width: 22px;
    height: 22px;
  }
  
  .schedule-detail-date-box {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    background-color: #f4f4f4;
    opacity: 100%;
    padding: 15px 15px;

    position: sticky;
    top: 0;
    z-index: 10;
    
  }
  
  .schedule-detail-weekdays {
    display: flex;
    flex: row;
  }
  
  .schedule-detail-like {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    color: #6C7072;
    opacity: 50%;
  }

  .schedule-detail-like-icon {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    color: #000000;
    border-radius: 50%;
  }
  
  .schedule-detail-choose-date-text {
    font-size: 10px;
    color: #131212;
    opacity: 50%;
    margin-bottom: 13px;
  }
  
  .test-button {
    border: none;
    width: 60px;
    height: 60px;
    background-color: yellow;
    font-size: 10px;
    border-radius: 50%;
  }

  .schedule-detail-place-list-box {
    margin: 16px;
    /* margin-bottom: 500px; */
  }

  .schedule-detail-button {
    /* margin-bottom: 50px; */
    position: fixed;
    bottom: 73px;
    left: 0;
    right: 0;
    background-color: white; /* 배경색 설정 (선택 사항) */
    border-top: 1px solid #ccc; /* 위쪽에 선 추가 (선택 사항) */
    padding: 10px; /* 여백 설정 */
  }

  .schedule-detail-call-started {
    display: flex;
    align-items: center;
  }

  .headphone-mic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid #712fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

.headphone-mic-container-activate {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#712fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

  .headphone-mic-size {
    width: 15px;
    height: 15px;
  }

