.schedule-detail-weekdays-element {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  color: #6c7072;
  opacity: 50%;
  flex-shrink: 0;
}
