.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
}

.progress-dots {
  display: flex;
  margin-bottom: 20px;
  position: absolute;
  top: 20px;
  justify-content: center;
  width: 100%;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #712fff;
}

.content {
  margin-bottom: 100px;
  position: relative;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.text-content {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #712fff;
}

.subtext-content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
  white-space: pre-line;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.image-content {
  max-width: 100%;
  height: auto;
  opacity: 0.7;
  filter: brightness(0.5); /* 이미지를 어둡게 처리 */
  transition: opacity 1s ease-in-out;
  border-radius: 10px;
}

.detail-content {
  position: absolute;
  top: 40%; /* 디테일 이미지를 메인 이미지 위로 조금 올리기 */
  right: 0; /* 기본 상태를 중앙에 가깝게 */
  transform: translateY(-50%); /* 가운데 정렬 */
  max-width: 70%; /* 디테일 이미지 크기를 적절하게 조정 */
  height: auto;
  opacity: 0; /* 초기 상태를 투명하게 설정 */
  transition: opacity 1s ease-in-out, right 1s ease-in-out; /* 애니메이션 추가 */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* 그림자를 추가하여 튀어나온 느낌 주기 */
  border-radius: 10px;
  background-color: #ffffff; /* 강조를 위해 배경색 추가 */
  z-index: 10;
}

.fade-in .detail-content {
  opacity: 1;
  right: -5px; /* 부드럽게 오른쪽으로 이동 */
}

.fade-out .detail-content {
  opacity: 0;
  right: 0; /* 다시 중앙에 가깝게 이동 */
}

.skip-button {
  padding: 10px;
  background-color: #712fff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom:150px;
}

.start-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.start-button {
  position: absolute;
  bottom:150px;
  padding: 10px;
  background-color: #712fff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
