.payment-container {
  padding: 16px;
}

.payment-back-button {
  position: absolute;
  left: 16px;
}

.payment-title {
  width: 100%;
  margin-top: 54px;
  margin-left: 40px;
}

.payment-receipt-box {
  width: 80%;
  margin: 16px 0;
  background-color: #f7f7f7;
  border-radius: 15px;
  padding: 24px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.payment-receipt-box hr {
  margin: 10px 0 15px 0;
  border: 1px solid #e6e6e6;
}

.payment-receipt-header {
  text-align: center;
  margin-bottom: 30px;
}

.payment-receipt-header h2 {
  margin-bottom: 30px;
}

.payment-receipt-header div {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin-bottom: 5px;
}

.payment-receipt-header p {
  font-size: 12px;
  color: #888;
  margin: 2px 0;
  text-align: end;
}

/* .payment-receipt-section:not(.disabled) {
  margin-bottom: 20px;
} */

.payment-receipt-section h3 {
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 18px;
  color: #712fff;
}

.payment-receipt-section h3 .payment-receipt-section-number {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1.5px solid #712fff;
  border-radius: 50%;
  margin-right: 6px;
}

.payment-receipt-section h3 .receipt-section-number-inner {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 50%;
  background-color: #712fff;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  transform: translate(10%, -10%);
}

.payment-receipt-summary {
  margin-bottom: 15px;
  font-size: 14px;
  color: black;
}

.payment-receipt-summary-receive,
.payment-receipt-summary-send {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}

.payment-item,
.payment-expense-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 12px;
}

.payment-no-amount {
  text-align: center;
  font-size: 12px;
}

.payment-amount {
  font-weight: bold;
  color: #712fff;
}

.payment-final-amount-container {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.payment-final-summary div {
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.payment-final-amount {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: #712fff;
  margin-bottom: 40px;
}

.payment-details {
  margin-bottom: 20px;
}

.payment-details-receive,
.payment-details-send {
  margin: 30px 0;
}

.payment-details-receive-icon,
.payment-details-send-icon,
.payment-expense-details-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 3px;
}

.payment-details h4,
.payment-expense-details h4 {
  display: flex;
  color: #575656;
  margin: 20px 0 20px 0;
}

.payment-system-name {
  font-style: italic;
  font-weight: bold;
  color: #712fff;
}

.payment-expense-details {
  margin-top: 15px;
}

.payment-expense-total,
.payment-summary-total {
  display: flex;
  justify-content: space-between;
  text-align: right;
  font-weight: bold;
  color: #333;
  font-size: 14px;
  margin-top: 10px;
}

.payment-final-summary {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  color: #575656;
  margin-top: 20px;
}

.payment-settle-button {
  background-color: #712fff;
  color: #fff;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.payment-settle-button:hover {
  background-color: #5e23e5;
}
