.noPayment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.noPayment-title {
    font-size: 16px;
    font-weight: 900;
    color: #712FFF;
}

.noPayment-content {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 400;
}

.create-payment-button {
    border: none;
    margin-top: 20px;
    padding: 15px 25px;
    border-radius: 12px;
    color: white;
    background: linear-gradient(to right, #712fff, #925eff);
    cursor: pointer;
    transition: background 0.3s ease;
}

.create-payment-button:hover {
    background: linear-gradient(to right, #712fff, #712fff);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}