.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center; /* Center align items */
  z-index: 1000;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.5);
  }
}

.modal-content {
  background: white;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  position: relative;
  animation: slideUp 0.3s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 0;
}

@keyframes slideUp {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0);
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
}

.account-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border: none;
  background-color: #f9f9f9;
  padding: 15px 10px;
}

.account-info p {
  font-size: 12px;
}

.account-info p span {
  font-size: 16px;
  color: #712fff;
  font-weight: 600;
}

.bank-logo {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.amount-display {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.amount-display .currency {
  margin-left: 5px;
  font-size: 16px;
}

.amount-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.amount-buttons button {
  background-color: #f9f9f9;
  color: black;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  flex: 1;
  margin: 0 5px;
}

.amount-buttons button:hover {
  background-color: #712fff;
  color: white;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.keypad button {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
}

.keypad .remove-button {
  font-size: 14px;
}

.confirm-button {
  background: linear-gradient(to right, #712fff, #925eff);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  width: 100%;
}

.confirm-button:hover {
  background: linear-gradient(to right, #712fff, #712fff);
}
