.send-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 16px; 
    height: 100vh; 
    overflow-y: auto;
  }
  
  .send-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 35px;
  }
  
  .send-header p {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-weight: 600;
  }
  
  .searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 50px auto 0 auto;
  }
  
  .search-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: none;
    background-color: white;
    cursor: pointer;
  }
  
  .my-account-withdraw {
    display: flex;
    width: 85%;
    align-items: center;
    margin: 10px auto;
    padding: 15px;
    border-radius: 12px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    background: linear-gradient(to right, #712fff, #925eff);
    cursor: pointer;
  }
  
  .my-account-withdraw:hover {
    background: linear-gradient(to right, #712fff, #712fff);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
  }
  
  .meeting-list {
    width: 85%;
    margin: 30px auto 0 auto;
    font-size: 14px;
    font-weight: 600;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: calc(100vh - 200px); /* Adjust height based on other elements */
  }
  
  .group-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .member-list {
    padding: 10px 0;
  }
  
  .member-item {
    display: flex;
    align-items: center;
    padding: 5px 0;
  }
  
  .member-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  