.transaction-container {
  display: flex;
  flex-direction: column;
}

.transactions-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 16px;
  position: relative;
}

.transactions-title {
  font-size: 16px;
  flex-grow: 1;
  text-align: center;
  margin : 10px 24px 0 0;
}

.transactions-list {
  margin-left: 6px;
  margin-top: 6px;
  padding: 20px;
  max-height: 540px;
  overflow-y: auto;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.transactions-date-group {
  margin-bottom: 20px;
}

.transactions-date {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.transactions-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.avatars {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.transactions-details {
  display: flex;
  align-items: center;
  width: 100%; 
  justify-content: space-between; 
}

.transactions-amount {
  font-size: 16px;
  font-weight: bold;
}

.transactions-amount.negative {
  color: black;
}

.transactions-amount.positive {
  color: #712fff;
  text-align: start;
}

.transactions-name {
  font-size: 14px;
}

.transactions-type {
  color: #888;
  font-size: 12px;
}

.selected-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.selected-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.selected-modal-header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.selected-modal-header p {
  margin-left: auto;
  margin-right: auto;
}

.selected-modal-details img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.selected-modal-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 3px;
}

.selected-modal-details-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.selected-modal-name {
  text-align: start;
  margin-left: 5px;
  font-weight: 600;
  margin-bottom: 5px; 
}

.transactions-information {
  margin-top: 20px;
}

.transations-information-amount-header,
.transactions-information-type-header,
.transactions-information-time-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transations-information-amount-title,
.transactions-information-type-title,
.transactions-information-time-title {
  font-size: 14px;
  font-weight: 600;
}

.transations-information-amount,
.transactions-information-type,
.transactions-information-time {
  font-size: 12px;
}

.transactions-amount {
  display: flex;
  margin-left: 5px;
  font-weight: 600;
}

.transactions-information p {
  margin-bottom: 5px;
  padding: 5px;
}

.selected-confirm-button {
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 10px 15px;
  background: linear-gradient(to right, #712fff, #925eff);
  color: white;
}

.selected-confirm-button:hover {
  background: linear-gradient(to right, #712fff, #712fff);
  box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
}