.transaction-container {
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
}

.transactions-list {
  margin-left: 6px;
  margin-top: 6px;
  padding: 20px;
}

.transactions-date-group {
  margin-bottom: 20px;
}

.transactions-date {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.transactions-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.avatars {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.transactions-details {
  flex: 1;
}

.transactions-amount {
  font-size: 16px;
  font-weight: bold;
}

.transactions-amount.negative {
  color: red;
}

.transactions-amount.positive {
  color: green;
  text-align: start;
}

.transactions-name {
  font-size: 14px;
  color: #888;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-details img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.modal-details {
  display: flex;
  flex-direction: column;
}

.modal-name {
  text-align: start;
  margin-left: 5px;
}

.transactions-information {
  margin-top: 20px;
}

.transactions-information p {
  margin-bottom: 5px;
  padding: 5px;
}

.confirm-button {
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 10px 15px;
  background: linear-gradient(to right, #712fff, #925eff);
}

.confirm-button:hover {
  background: linear-gradient(to right, #712fff, #712fff);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}