.homemain {
    display: flex;
    flex-direction: column;

}

.header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.meetingheader {
    display: flex;
    justify-content: space-between;
}

.meetinglist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
/* 내부 항목들에 대한 가로 길이를 정해줘야 한다. */

.newmeetingbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}