.meetings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meetings-container {
  width: 319px;
}

.meetings-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.meetings-list-header {
  margin-bottom: 15px;
}

.meetings-card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.my-meetings {
  font-size: 14px;
  margin-bottom: 3px;
}

.desc {
  font-size: 12px;
  color: #868687;
  opacity: 70%;
}

.meeting-alarm-button {
  width: 28px;
  height: 28px;
  margin: 16px 16px 0 0;
}
